<div class="flex justify-between">
    <section class="w-1/3 bg-gray-100 p-4">
        @for (ticket of ticketArray$ | async; track $index;){
        <div *ngIf="ticket.status === 'Open'" class="bg-gray-200 mb-4 p-2">
            <h3>{{ ticket.title }}</h3>
        </div>
        }
        <button (click)="addTicket('Open')">Add new Item</button>
    </section>
    <section class="w-1/3 bg-gray-100 p-4">
        @for (ticket of ticketArray$ | async; track $index;){
        <div *ngIf="ticket.status === 'In Progress'" class="bg-gray-200 mb-4 p-2">
            <h3>{{ ticket.title }}</h3>
        </div>
        }
        <button (click)="addTicket('In Progress')">Add new Item</button>
    </section>
    <section class="w-1/3 bg-gray-100 p-4">
        @for (ticket of ticketArray$ | async; track $index;){
        <div *ngIf="ticket.status === 'Resolved'" class="bg-gray-200 mb-4 p-2">
            <h3>{{ ticket.title }}</h3>
        </div>
        }
        <button (click)="addTicket('Resolved')">Add new Item</button>
    </section>
</div>
