<h1> Tickets </h1>
<div class="grid grid-cols-3 gap-4">
    <section class="col bg-gray-100 border-gray-300">
        <h2>TODO</h2>
        @for (ticket of ticketArray$ | async; track $index;){
        <div *ngIf="ticket.status === 'Open'" class="bg-gray-200 mb-4 mx-2 p-2">
            <h3>{{ ticket.title }}</h3>
            <button (click)="openEditModal(ticket)">Edit</button>
            <button (click)="deleteTicket(ticket.id)">Delete</button>
        </div>
        }
        <button (click)="addTicket('Open')">Add new Item</button>
    </section>
    <section class="col bg-gray-100 border-gray-300">
        <h2>In Progress</h2>
        @for (ticket of ticketArray$ | async; track $index;){
        <div *ngIf="ticket.status === 'In Progress'" class="bg-gray-200 mb-4 mx-2 p-2">
            <h3>{{ ticket.title }}</h3>
            <button (click)="openEditModal(ticket)">Edit</button>
            <button (click)="deleteTicket(ticket.id)">Delete</button>
        </div>
        }
        <button (click)="addTicket('In Progress')">Add new Item</button>
    </section>
    <section class="col bg-gray-100 border-gray-300">
        <h2>Finished</h2>
        @for (ticket of ticketArray$ | async; track $index;){
        <div *ngIf="ticket.status === 'Resolved'" class="bg-gray-200 mb-4 mx-2 p-2">
            <h3>{{ ticket.title }}</h3>
            <button (click)="openEditModal(ticket)">Edit</button>
            <button (click)="deleteTicket(ticket.id)">Delete</button>
        </div>
        }
        <button (click)="addTicket('Resolved')">Add new Item</button>
    </section>
</div>
